@keyframes moveRight {
  50% {
    transform: translate(10px);
  }
}
@keyframes moveLeft {
  50% {
    transform: translate(-10px);
  }
}
@keyframes rotateSpinnerCommon {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.range-slider {
  margin-bottom: 12px;
}
.range-slider[disabled] {
  opacity: 0.3;
}
.range-slider__inputs {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 32px 1fr;
}
.range-slider__input {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.2;
  border: 1px solid var(--c-ui-tertiary);
  border-radius: 2px;
  padding: 8px;
  width: 100%;
  background-color: var(--c-ui-primary);
  box-shadow: var(--sh-input);
  color: var(--c-text-secondary);
  text-align: right;
  transition: 0.25s ease-in-out border-color;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.range-slider__input:nth-of-type(n):hover {
  border-color: var(--c-ui-hover);
}
.range-slider__input:nth-of-type(n):focus {
  border-color: var(--c-accent);
}
.range-slider__input::placeholder {
  color: var(--c-ui-secondary);
}
.range-slider__input::-webkit-inner-spin-button,
.range-slider__input::-webkit-outer-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}
.range-slider__input:invalid {
  box-shadow: none;
}
.range-slider__input[disabled] {
  opacity: 0.3;
}
.range-slider__label {
  display: inline-block;
  position: relative;
}
.range-slider__separator {
  opacity: 0.35;
  font-size: 22px;
  color: var(--c-text-secondary);
  text-align: center;
}
.range-slider__range {
  padding: 0 16px;
}
.range-slider__range-placeholder {
  display: block;
  margin: 1rem 0;
  height: 1px;
}
.noUi-horizontal {
  height: 2px;
}
.noUi-target {
  border: none;
  border-radius: 2px;
  height: 2px;
  cursor: pointer;
  background: var(--c-ui-tertiary);
  box-shadow: inset 0 1px 0 var(--c-shadow-primary-05);
}
.noUi-connects {
  overflow: visible;
}
.noUi-connect {
  background: var(--c-accent);
  box-shadow: 0 -1px 0 var(--c-accent-supportive);
}
.noUi-handle {
  border: none;
  border-radius: 50%;
  background: var(--gradient-button-accent-body);
  box-shadow: 0 2px 4px var(--c-shadow-primary-25),
    inset 0 1px 0 var(--c-neutral-15);
}
.noUi-horizontal .noUi-handle {
  right: -8px;
  top: -8px;
  width: 16px;
  height: 16px;
  transition: 0.25s;
}
.noUi-horizontal .noUi-handle:after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: var(--c-accent);
}
.noUi-horizontal .noUi-handle:hover {
  transform: scale(1.375);
}
.noUi-horizontal .noUi-handle:hover:active {
  background: var(--c-accent);
}
.noUi-horizontal .noUi-handle:hover:active:after {
  display: block;
}
.noUi-handle:before,
.noUi-handle:after {
  content: none;
}
.noUi-touch-area {
  position: relative;
  left: -5px;
  top: -5px;
  padding: 12px;
  cursor: -webkit-grab;
  cursor: grab;
}
