@keyframes moveRight {
  50% {
    transform: translate(10px);
  }
}
@keyframes moveLeft {
  50% {
    transform: translate(-10px);
  }
}
@keyframes rotateSpinnerCommon {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
.filter__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 100%;
}
.filter__header h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  margin: 0;
  color: var(--c-text-primary);
}
.filter__clear-icon {
  margin-left: 4px;
  width: 16px;
  height: 16px;
  background-color: var(--c-accent);
}
.filter__count {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--c-accent);
}
.filter__icon-wrapper {
  height: 16px;
}
.filter__selected {
  pointer-events: none;
  display: block;
  position: relative;
  top: -8px;
  margin: 0 4px;
  height: 16px;
  opacity: 1;
  font-size: 11px;
  font-weight: 700;
  color: var(--c-accent);
  transition: 0.25s ease-in-out all;
}
.open ~ .filter__selected {
  height: 0;
  opacity: 0;
}
.filter__excluded {
  text-decoration: line-through;
}
@media (min-width: 600px) {
  .wrapper .filter__header {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .wrapper .filter__selected {
    display: none;
  }
}
